@use '../../variables' as *;
@import '../../bootstrap/scss/functions';
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

$nav-menu-bp: map-get($grid-breakpoints, "lg");

body {
  background-color: $primary-color;
  color: $secondary-color;
}

.navbar {
  & {
    background-color: $secondary-color;
    color: $white;
  }

  h1 {
    @include H1-mob;
    color: $white;
    margin-bottom: 0px;
    margin-left: 20px;

    @media(min-width: $nav-menu-bp) {
      @include H1;
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  .navbar-toggler {
    margin-right: 20px;
    height: 38px;
    width: 38px;
    border: none;
    padding: 0px;

    svg {
      height: 100%;
      width: 100%;
      color: $white;
    }

    &:focus, &:active, &:hover, &:focus-within {
      outline: none;
    }
  }

  .navbar-collapse {
    @media(min-width: $nav-menu-bp) {
      display: flex;
      justify-content: flex-end;
    }

    .navbar-nav {
      padding-top: 5px;

      @media(min-width: $nav-menu-bp) {
        padding-top: 0px;
        margin-right: 30px;
      }

      .nav-item {
        &:not(:last-child) {
          border-right: 2px solid $primary-color;
          border-bottom: none
        }

        @media(max-width: 991px) {
          &:not(:last-child) {
            border-right: none;
            border-bottom: 1px solid $primary-color;
          }
        }


        a.nav-link {
          @include H2-mob;
          color: $white;
          margin-bottom: 0px;
          padding-left: 20px;
          padding-right: 20px;

          &:hover {
            color: $primary-color;
          }

          @media(min-width: $nav-menu-bp) {
            @include H2;
          }
        }
      }
    }
  }
}
