<div class="row">
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-10">
    <div id="chart" style="text-align:center">
      <apx-chart #chart [series]="chartOptions.series"
                 [chart]="chartOptions.chart"
                 [xaxis]="chartOptions.xaxis"
                 [title]="chartOptions.title"></apx-chart>
    </div>
  </div>
  <div class="col-xs-0 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-2">
    <div class="row">
      <button id="#btnDraw" type="button">Draw</button>
    </div>
    <div class="row">
      <input type="file" name="name" (change)="fileChangeListener($event)" />
    </div>
    <div class="row">
      <div class="col-12">
        <div class="options-group">
          <div class="options-group-title">
            <h3>Data based on: <span id="dataLabel">Time between calls</span></h3>
            <a data-bs-toggle="collapse" data-bs-target="#collapseData" aria-expanded="false" aria-controls="collapseData">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z" /></svg>
            </a>
          </div>
          <div class="collapse" id="collapseData">
            <div class="options-point">
              <input type="radio" name="data" id="dataAPI" checked />
              <label for="dataAPI">Time between calls</label>
            </div>
            <div class="options-point">
              <input type="radio" name="data" id="dataDisplay" />
              <label for="dataDisplay">Time between showing frames on the display</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="options-group">
          <div class="options-group-title">
            <h3>Type of chart: <span id="dataLabel">FrameTime</span></h3>
            <a data-bs-toggle="collapse" data-bs-target="#collapseGraphType" aria-expanded="false" aria-controls="collapseGraphType">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42Z" /></svg>
            </a>
          </div>
          <div class="collapse" id="collapseGraphType">
            <div class="options-point">
              <input type="radio" name="graphType" id="graphTypeFrameTime" />
              <label for="graphTypeFrameTime">FrameTime</label>
            </div>
            <div class="options-point">
              <input type="radio" name="graphType" id="graphTypeFPS" />
              <label for="graphTypeFPS">FPS</label>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div></div>
</div>
