@use '../../variables' as *;
@import '../../bootstrap/scss/functions';
@import "../../bootstrap/scss/variables";
@import "../../bootstrap/scss/mixins";

.row > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.chart-wrapper {
  padding: 0px;
}

.options-group {
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  color: $primary-color;
  transition: 0.1s all linear;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .options-group-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    & svg {
      transform: rotate(0deg);
      transition: 0.1s all linear;
    }

    &:not(.collapsed) svg {
      transform: rotate(180deg);
    }

    h3 {
      @include H3;
      margin-bottom: 0px;

      span {
        @include H4-mob;

        @media (min-width: $main-bp) {
          @include H4;
        }
      }
    }
  }

  .options-point {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input[type="radio"] {
      appearance: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      border: 1px solid $primary-color;
      transition: 0.1s all linear;
      position: relative;
      cursor: pointer;

      &:checked {
        border: 8px solid $secondary-color;
      }
    }

    label {
      cursor: pointer;
      @include H4-mob;

      &:hover {
        text-decoration: underline;
      }

      @media (min-width: $main-bp) {
        @include H4;
      }
    }
  }
}

.dataset-control {
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 5px;

  & > * {
    margin-bottom: 10px;
  }

  & > *:last-child {
    margin-bottom: 0px;
  }

  .dataset {
    padding: 5px;
    height: 34px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    input[type="checkbox"] {
      appearance: none;
      border-radius: 10%;
      width: 16px;
      height: 16px;
      border: 1px solid $primary-color;
      transition: 0.1s all linear;
      position: relative;
      cursor: pointer;

      &:checked {
        border: 8px solid $secondary-color;
      }
    }

    label {
      margin-left: 10px;
      @include H4-mob;

      @media (min-width: $main-bp) {
        @include H4;
      }
    }

    svg {
      margin-left: auto;
    }
  }
}

.modal-body {
  .row {
    justify-content: space-between;

    & > * {
      width: auto;
      margin: 5px;
    }

    &:first-child > * {
      margin-top: 0px;
    }

    &:last-child > * {
      margin-bottom: 0px;
    }

    h3 {
      @include H3-mob;

      @media (min-width: $main-bp) {
        @include H3;
      }
    }

    p {
      @include H4-mob;

      @media (min-width: $main-bp) {
        @include H4;
      }
    }
  }
}
